body{
    margin:0;
    padding: 0;
}
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/medical.jpg") no-repeat;
    background-size: cover;
    background-position: center;  
    text-align: center;    
}
.nav-items{
    margin-top: 25px;
}
.button-hed{
    position: absolute;
    top:65%;
    left:50%;
    transform: translate(-50%, -50%);
}
.btn{
    border:1px solid #fff;
    padding:10px 30px;
    color:#fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color:#000;
}
.heading-title{
    color:#fff;
}
